html{
    background-color: rgba(119, 255, 255, 0.514);
}
ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.text_content{
    width: 1000px;
    overflow-x: visible;
}
.ao{
    color: rgb(55, 55, 255);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}
.ao_background_color{
    color: #ffffff;
    background-color: rgba(66, 66, 255, 0.863);
    font-size: 20px;
    font-weight: 400;
}
.midori{
    color: #6dff33;
     -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: black;
}
.midori_background_color{
    color: #ffffff;
    background-color: rgba(165, 250, 69, 0.849);
    font-size: 20px;
    font-weight: 400;
}

.text_content{
    width: 1000px;
}
.aka {
    color: rgb(255, 54, 121);
    
}
.aka_background_color{
    color: #ffffff;
    background-color: #ff0062;
    font-size: 20px;
    font-weight: 400;
}
.orenngi{
    color: #ff9100;
}
.orenngi_background_color{
    color: #ffffff;
    background-color: #ff9100;
     font-size: 20px;
    font-weight: 400;
}
.ni-go{
    color: #b150c9;
}
.ni-go_kami{
    color: #ffffff;
    background-color: #b150c9;
    font-size: 20px;
    font-weight: 400;
}